spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tienda_demo?useSSL=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000

  cache:
    type: redis

  flyway:
    enabled: true
